{%extends 'insta/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<hr>
<div class="container">
    <hr>        
    <div class="mx-auto" style="max-width:50rem; margin-top:50px;">
          <div class="card">
                <h4 class="card-header h4 text-center">Add Profile</h4>
                <div class="card-body">
                    <form  action="{%url 'add_profile'%}" method="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            {% bootstrap_form form%}
                            <button style="border: solid 1px #333; padding: 1em;" class="btn btn-outline-secondary btn-block mb-4 mx-auto" type="submit" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-upload fa-lg"></i> Upload
                            </button>
                    </form>
                </div>
            </div>
     </div>
</div>
<br>
<hr>
{% endblock %}