{%extends 'insta/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<hr>
<br>
<div class="container-fluid">
  <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">
                <h5 class="card-header h5 text-center">Upload Photo</h5>
                    <div class="card-body">
                        <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          {% bootstrap_form form %}
                           <button style="border: solid 1px #333; padding: 1em;" class="btn btn-outline-secondary btn-block mb-4 mx-auto" type="submit" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-upload fa-lg"></i> Upload
                          </button>
                       </form>
                    </div>
              </div>
          </div>
     </div>
</div> 
<br>
<hr>
{% endblock %}