{% extends 'base.html'%}

{% block content %}
{{block.super}}

<h1>Insta</h1>
<!-- <div class="container"> -->


  <!-- Looping through news   -->

  <!-- <div class="row">
    {% for image in images %} -->

    <!-- displaying images -->
    <!-- <div class="col-xs-4">
      <a href="{% url 'imagedetails' image.id %}"><img src="{{image.image.url}}" class="img-responsive" alt="Image"></a>
      <input class="form-control input-lg" type="text" value="https://gallery003.herokuapp.com{{image.image.url}}" id ="{{image.id}}-url">
    <div class="panel panel-default">

  <div class="panel panel-footer">
    <button type="button" class="btn btn-info" onclick="copyUrl('{{image.id}}-url')">Copy Image Url</button>
    </div>
  </div>
</div> -->
  </div>
  <script type="text/javascript">
      function copyUrl(element){
        var myVar = document.getElementById(element)
        myVar.select();
        document.execCommand('copy')
      }
  </script>

  {% empty %}
  <div class="row">
    <h2 class="text-center">No more posts</h2>
  </div>
  {% endfor %}
</body>
</div>

{% endblock %}
