{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="col-12" >
        <div class="container" style="position: fixed; width: 300px; margin-top: 20px;">

            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                {%csrf_token%}
                
                {% bootstrap_form form layout='inline' %}
                <button type=submit class="btn btn-sm btn-success" value="Upload">choose file</button>
            </form>
    
        </div>
    </div>
</div>

{% endblock %}